.customer_info {border: 0px solid #ccc;padding: 0;margin-bottom: 20px;display: inline-block;width: 100%;}
.customer_info h4.active {margin: 0;padding: 15px 15px;background: #00a5b4;color: #fff;font-weight: bold;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.customer_info_c {border: 1px solid #ccc;padding: 30px 15px 20px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;border-top: 0;display: inline-block;width: 100%;}
.user-ph {text-align: center;}
.user-ph i.fa.fa-user {background: #dfdfdf;color: #fff;padding: 50px 63px;border-radius: 10px;font-size: 100px;border: 2px solid #ccc;display: inline-block;}
.customer_info_c .row {border-bottom: 1px solid #ccc;padding-bottom: 10px;margin-bottom: 10px;/* background: #f5f5f5; */}
.customer_info_c .row p#mycopy {display: inline;margin-right: 10px;}
.customer_info_c .row {border-bottom: 2px solid #e3e3e369;padding-top: 10px;padding-bottom: 10px;background: #f5f5f5d9;margin:0;}
.customer_info_c .row p#mycopy {display: inline;margin-right: 10px;}
.customer_info_c .row p {margin: 0;font-weight: 600;color: #6a6a6a;font-size: 14px;display: inline-block;}
.edit-btn-d {margin-top: 15px;}
.edit-btn-d button {background: #00a5b4;max-width: 150px;width: 100%;line-height: 26px;font-size: 16px;font-weight: bold;}
button.copy-btn {display: inline-block;background: #FF5722;border: 0;color: #fff;padding: 4px 10px;font-weight: bold;margin-left: 10px;border-radius: 5px;}
.add_note_top {background: #00a5b41a;padding: 14px 10px;display: inline-block;width: 100%;margin-bottom: 20px;border-radius: 10px;border: 6px double #00a5b4;}
.add_note_top label.control-label {font-size: 17px;text-transform: uppercase;padding: 0;text-align: left;}
.add_note_top textarea#note {border: 1px solid #00a5b4;box-shadow: none;font-weight: bold;}
.add_note_top input#notesubmit {background: #ff5722;border: 0;color: #fff;max-width: 130px;width: 100%;font-weight: bold;text-transform: uppercase;font-size: 16px;}
