body{font-family: arial;}

/*Header css start*/
header {background: #eee;padding:0;}
header .navbar-inverse{background: transparent;border:0;margin-bottom:0;padding: 10px 0;}
header .navbar-brand{height: auto;padding: 0;}
header form.navbar-form {width: 50%;margin: 0 auto; padding-top: 4px;}
header form.navbar-form .input-group {width: 100% !important;}
header form.navbar-form input {width: 100% !important;background: #fff;
    border: 1px solid #9d9d9d; border-radius: 15px; height: 40px;}
header form.navbar-form .input-group button{background-color: #fff;border:solid 1px #9d9d9d;height:40px;border-radius:15px}
header ul.navbar-right{margin-top: -37px;position: relative;}
/*Header css End*/


footer{position: fixed;bottom: 0;left:0;width: 100%;}
.copyright-box {background: #00a5b4; padding: 24px 0 10px;text-align:  center;}
.copyright-box p {color: #fff;font-size: 16px;}

.login-page form.modal-content {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    border: 1px double #0000000f;
    margin-top: 25px;
}

.login-page form.modal-content h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px;
}

.login-page form.modal-content h1:after {
    height: 3px;
    width: 35px;
    display: block;
    content: "";
    background: #000;
    left: 0;
    right: 0;
    margin: 10px auto 0;
}
.logo {
    text-align: center;
    margin-top: 30px;
}

button.edit_btn a.edit {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

button.btn-primary.btn, button.btn-primary.btn:focus,button.btn-primary.btn:active {
    background: #00a5b4;
    border: 0;
}


.update_cus_page {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    margin: 50px  auto;
}

.update_cus_page .form-group {margin: 15px auto !important;max-width: 860px;}

.update_cus_page .form-group label.control-label.col-sm-2 {
}

.update_cus_page .form-group input {
    line-height: 28px;
    height: auto;
}

.update_cus_page .form-group select {
    line-height: 40px;
    height: auto;
    padding: 10px 10px;
}

.update_cus_page .form-group  button.btn.btn-default {
    background: #00a5b4;
    font-weight: bold;
    color: #fff;
    border: 0;
    line-height: 30px;
    text-transform: uppercase;
}

.login-page form.modal-content input[placeholder] {
    
    font-size: 13px;
}

.login-page form.modal-content input {
    padding: 9px 10px;
    height: auto;
    border-radius: 0;
    margin-bottom: 20px;
}

body.login-page {
    background: #eee;
}

.login-page form.modal-content  input.btn.btn-default {
    width: 100%;
    background: #00a5b4;
    color: #fff;
    box-shadow: none;
    font-size: 14px;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.login-page form.modal-content  label {
    text-transform: uppercase;
}

.login-page form.modal-content  p.login.button {
    margin: 0;
}

.login-page form.modal-content  label[for="loginkeeping"] {
    text-transform: none;
    font-weight: normal;
    margin: 0;
    font-size: small;
}

.login-page form.modal-content input#loginkeeping {
    margin-bottom: 0;
}
.ds_page .logo {
    margin-top: 20px;
}

.ds_page  h1 {
    font-size: 29px;
}

.ds_page  .table-responsive form.search-form {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 100%;
}

.ds_page  .table-responsive .left {
    float: left;
}

.ds_page  .table-responsive .right {
    float: right;
}

.ds_page  .table-responsive form.search-form input[type="submit"] {
    background: #00a5b4;
    color: #fff;
    border: 0;
    font-weight: bold;
    padding: 7px 13px;
    width: 198px;
    margin-left: 6px;
}

.ds_page  .table-responsive form.search-form input.search_bx {
	min-width: 720px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    float: left;
    margin-right: 0;
}

.ds_page  .table-responsive form.search-form lable {
    font-weight: bold;
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

.ds_page  .table-responsive .left select.l_sel {
    float: left;
    border: 1px solid #ccc;
    background: transparent;
    padding: 7px 2px;
    margin-right: 5px;
    width: 100px;
    box-sizing: border-box;
}
button.btn-primary,button.btn-primary:focus,button.btn-primary:hover {
    color: #fff;
    background-color: #00a5b4;
    border-color: #00a5b4;
}

.ds_page  .table-responsive form.search-form input.search_bx::placeholder {
    color: #808080;
}

.ds_page  .table-responsive form.search-form button.btn-primary.btn {
    background: #00a5b4;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    width: 100%;
    vertical-align: top;
    line-height: normal;
}

.ds_page  .table-responsive form.search-form button.btn-primary.btn:before {
    content: "+";
    font-size: 20px;
    line-height: normal;
    margin-right: 4px;
    position: relative;
    top: 2px;
}
a.logout {
    float: right;   
    margin-left: 20px;
    background: #00a5b4;
    color: #fff !important;
    font-weight: bold;
    padding: 5px 10px !important;
    border-radius: 5px;
    text-decoration: none;
}
a.logout:hover{color: #fff;}

a.logout i {
    margin-right: 8px;
    background: #fff;
    border-radius: 25px;
    color: #00a5b4;
    padding: 4px 6px;
}

body a {
    color: #009688;
    text-decoration: none;
}


.ui-draggable, .ui-droppable {
    background-position: top;
}

body.login-page .top_sec {
    display: none;
}


.container_update {
    max-width: 1170px;
    margin: 50px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.container_update label.control-label.col-sm-2 {
    
}

.container_update form.form-horizontal {
    margin-top: 0;
    border: 1px solid #ccc;
    padding: 20px;
    background: #eee;
}
.container_update form.form-horizontal .form-group {
    max-width: 760px;
    margin: 15px auto;
}
.container_update .nav-pills>li a {
    padding: 15px 20px;
    text-transform: uppercase;
}
.container_update form.form-horizontal .form-group input.btn.btn-default {
    background: #00a5b4;
    color: #fff;
    font-weight: bold;
    border: 0;
    text-transform: uppercase;
}

.container_update form.form-horizontal .form-group input {
    box-shadow: none;
    height: auto;
    line-height: 33px;
}
.container_update .nav-pills>li.active a {
    background: #eee;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 0;
    border-bottom: 0;
    position: relative;
    margin-bottom: -1px;
    font-weight: bold;
}
.nav-pills>li a {
    color: #000;
    font-weight: bold;
}
.container_update .nav-pills>li.active a:hover, .container_update .nav-pills>li.active a:focus {
    background: #eee;
    color: #000;
}
.nav-pills>li  a {
    color: #000;
    font-weight: bold;
}

.container_update div#menu1.tab-pane {
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
}
.container_update .table-bordered {
    border: 1px solid #ddd;
    background: #fff;
    margin: 0;
}

.container_update div#menu1.tab-pane th {
    padding: 14px 10px !important;
    margin: 0 !important;
    vertical-align: middle;
    height: auto;
    background: #00a5b4;
    line-height: normal;
    width: auto;
    color: #fff;
    border: 1px solid #535353;
}
.container_update div#menu1.tab-pane td {
    padding: 10px 10px;
    border: 1px solid #535353;
}


#mylead .modal-content{border-radius:0;}
#mylead .modal-header {background: #00A5B4;color: #fff; border-radius: 0;}
#mylead .modal-header button {color: #fff;opacity: 2;}
#mylead .modal-body {height:530px;overflow-x:hidden;padding-bottom:30px;}
#mylead .modal-body label{text-align:  left;}
#mylead .modal-body input, #mylead .modal-body select, #mylead .modal-body textarea { border-radius: 0;}
#mylead .modal-body input, #mylead .modal-body select{height: 42px;}

#mylead .modal-body input.btn {background: #00a5b4;color: #fff;font-size: 17px;font-weight: 600;
    padding: 12px 30px;line-height: 20px; height:  auto;}








.accordion {background-color: #eee;color: #444;cursor: pointer;padding: 18px;width: 100%;border: none;
    text-align: left;outline: none;font-size: 15px;transition: 0.4s;
}
.active, .accordion:hover {background-color: #ccc; }
.panel {padding: 0 18px;display: none;background-color: white;overflow: hidden;}
/*display page*/
.dis_play_head {background: #00a5b4;padding: 0 15px;color: #fff;font-weight: 600;}
.dis_play_head div div {padding: 10px; border: 1px solid #535353; border-right: 0;}
.dis_play_head div div:last-child {border-right: 1px solid #535353;}

.accor_dion_btn div div {border: solid 1px #ccc;padding: 10px; border-right: 0;border-bottom: 0;}
.accor_dion_btn {padding:0 15px; margin:0; float:left; width: 100%;}
.accor_dion_btn div div:last-child{border-right: 1px solid #ccc;}

.accor_dion_panel {padding: 0; box-shadow: none !important;}
.accor_dion_panel .accor_dion_head {background: #f2f2f2;padding: 0px 15px;font-weight: 600;}
.accor_dion_panel .accor_dion_head div div {border: solid 1px #ccc;padding: 10px;border-left: 0;border-bottom: 0;}
.accor_dion_panel .accor_dion_head div div:first-child{border-left:solid 1px #ccc;}
.accor_dion_panel .accor_dion_head div div p {margin-bottom: 0;}
.accor_dion_panel .accor_dion_body {padding: 0px 15px;}
.accor_dion_panel .accor_dion_body div div {border: solid 1px #ccc;padding: 10px;border-left: 0;}
.accor_dion_panel .accor_dion_body div div:first-child{border-left:solid 1px #ccc;}
.accor_dion_panel .accor_dion_body div div p {margin-bottom: 0;}
.accor_dion_panel .accor_dion_body div div button{padding: 0px 10px !important;font-size:11px;background-color: #ff5722;}
.accor_dion_panel .accor_dion_body div .cen_der{padding: 9px;}
.accor_dion_panel .accor_dion_body div div input{border:0;}

/*display page*/